@charset "utf-8";
.title{
	font-family:Verdana;
	size:30px;
	text-align:center;
}
img{
	height:300px;
	width:300px;
	border: black solid;
}

img:hover{
	height:300px;
	width:300px;
	border: gray solid;
}

#iloveyou{
	height:500px;
	width:1000px;
}

.container{
	
}
.nav{

}

